:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* //////////////////////////header css start here//////////////////////////////////////////////////////////// */

.header-appbar {
  background-color: white;
  box-shadow: none; 
}

.header-title {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  transition: color 0.3s;
}

.header-title:hover {
  color: #1976d2; 
}

.nav-button {
  color: black;
  font-size: 1.9rem !important;
  margin: 0 10px; 
  transition: background-color 0.3s; 
}

.nav-button:hover {
  background-color: rgba(
    25,
    118,
    210,
    0.1
  ); 
}

.toggle-button {
  color: black;
  font-size: 1.1rem;
  margin: 0 10px; 
  background-color: transparent; 
  border: 1px solid #990000; 
  transition: background-color 0.3s;
  width: 200px;
}

.toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

@media (max-width: 600px) {
  .nav-buttons {
    flex-direction: column; 
    align-items: center; 
  }
}




/* ////////////////////css of navigation button///// /////////////////////////////////////////////////////////////*/
.button-custom {
  position: relative; 
  padding: 0; 
  font-size: 1.2rem; 
  text-transform: none; 
  color: black; 
}

.button-custom::after {
  content: "";
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: black; 
  transition: width 0.3s ease-in-out; 
}

.button-custom:hover::after {
  width: 100%; 
}

.button-custom:focus {
  outline: none; 
}

.header-btn {
  border: 1px solid #990000;
  border-radius: 50px;
  color: #990000;
  width: 200px;
  font-size: 1.2rem;
}
.header-btn:hover {
  background-color: #990000 !important;
  color: white !important;
}

/* /////////////////////////////*/

.header-btn {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header-btn:hover {
  animation: bounce 0.9s ease infinite;
}
 
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .header-btn {
      width: 160px;
      font-size: large;
  }
}
@media (max-width: 425px) {
  .header-btn {
      width: 90px;
      font-size: medium;
  }
}
@media (max-width: 375px) {
  .header-btn {
    width: 70px;
    font-size: small;
    
  }
}
@media (max-width: 375px) {
  .logo-img {
    width: 120px;
  }
}

/* ////////////////////////css of page.js///////////// */
/* ///////////////////////////////////////////////////// */

.backgroundimg {
  background-image: url("/assets/floty1.svg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
}
.arrow-img{
  transition: transform 0.3s ease;
}
.arrow-img:hover{
  transform: scale(1.1);
}
@media (max-width: 425px) {
  .arrow-img {
    width: 10vh;
  }
}

.page-one {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100vh;
  margin-top: 20%;
}
@media (max-width: 768px) {
  .page-one {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .page-one {
    font-size: 1.5rem;
  }
}
.page-second {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  height: 100vh;
  margin-top: -15%;
  margin-left: 12%;
}
@media (max-width: 768px) {
  .page-second {
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .page-second {
    font-size: 0.5rem;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////second page css////////////////////////////////// */
.hover-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

@media (max-width: 425px) {
  .hover-header {
    font-size: 2rem;
  }
}
.hover-box {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 300px;
  margin-top: 10px;
}

.hover-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  
}

.hover-container {
  
  gap: 40px !important;
}

.hover-box {
  padding: 16px;
  text-align: start;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  height: 60vh; 
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  
}

.hover-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #990000; 
  color: white;
}


.hover-box .MuiSvgIcon-root {
  font-size: 4rem; 
}


.hover-box .MuiTypography-h6 {
  margin-top: 8px;
  font-weight: bold;
}

.hover-box .MuiTypography-body1 {
  margin-top: 8px;

}
.animation-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}



.animation-container {
  display: flex;
  overflow: hidden; 
  white-space: nowrap; 
  width: 100%; 
  position: relative; 
}

.animation-container img {
  width: 100px; 
  margin: 0 5px; 
  animation: slide 3s linear infinite; 
}

@keyframes slide {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////video container//////////////////////////////////////// */
.video-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-img{
  height: 100vh;
}
@media (max-width: 1024px) {
  .video-img {
    height: 80vh;
  }
}
@media (max-width: 768px) {
  .video-img {
    height: 60vh;
  }
}
@media (max-width: 425px) {
  .video-img {
    height: 33vh;
  }
}
@media (max-width: 375px) {
  .video-img {
    height: 27vh;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////red container////////////////////////////////////////// */
.red-one{
  display: flex;
  justify-content: end;
  align-items: start;
}
.red-common{
  display: flex;
  flex-direction: row;
}
@media (max-width: 1130px) {
  .red-number {
    font-size: 5.5rem;
  }
}
@media (max-width: 950px) {
  .red-number {
    font-size: 4.5rem;
  }
}
@media (max-width: 790px) {
  .red-number {
    font-size: 3.5rem;
  }
}
@media (max-width: 630px) {
  .red-number {
    font-size: 2.5rem;
  }
}

@media (max-width: 950px) {
  .red-text {
    font-size: 1rem;
  }
}
@media (max-width: 790px) {
  .red-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 630px) {
  .red-text {
    font-size: 0.5rem;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////form container css///////////////////////////// */
.form-container{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e0e0e0;
 
}
.form-field{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(154, 152, 152);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.input-fields{
  margin-bottom: 40px;
}

.form-button{
  border: 1px solid #990000;
  background-color: transparent;
  color: #990000;
}
.form-button:hover{
  color: white;
  background-color: #990000;
}
.contect-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 10px;
}
.contect{
  color: #990000;
}
.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}